html {
    scroll-behavior: smooth;
  }
  
  body {
    position: relative;
    background-color: #fff;
    color: black;
    font-family: 'Poppins';
    font-size: 1.6rem;
    margin: 0%;
  }

  a {
    text-decoration: none;
    color: black;
  }

  ul li {
      list-style: none;
  }

  h1 {
        line-height: 1.5;
        letter-spacing: 1px;
  }

  p {
      color: #404040;
    font-size: 1.2rem;
  }

  @media (max-width:767px) {
    body{
      font-size: 20px;
    }

    p  {
      font-size: 15px;
    }

    h2{
      font-size: 25px;
    }

    h3{
      font-size: 20px;
    }
  }

  /* navbar */
  header{
    position: absolute;
    width: 100%;
  }

  .main-nav{
    margin: 3% 10%;
  }

  .nav1 > ul {
    display: flex;
  }
  

  .nav-btn {
    display: none;
  }
  
  .main-nav ul li {
      font-size: 1.2rem;
      padding-right: 6%;
  }

  .main-nav ul li a{
    color: #000;
  }

  .main-nav ul li a:hover {
    color: grey;
    transition: 0.2s;
  }

  .main-nav > #nav-check {
    display: none;
  }
  
  @media (max-width:767px) {
  .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 4%;
  
    }
  
  .nav-btn label {
    display: inline-block;
    /* width: 50px; */
    /* height: 50px; */
    padding: 10px;
  
      }
  
  .main-nav > .nav-btn label:hover, .main-nav  #nav-check:checked ~ .nav-btn > label {
          /* background-color: rgba(0, 0, 0, 0.3); */
  }
  
          .main-nav > .nav-btn > label > span {
              display: block;
              width: 25px;
              height: 8px;
              border-top: 2px solid #eee;

            }
            .main-nav > .nav1 ul {
              position: absolute;
              display: block;
              width: 100%;
              background-color: white;
              height: 0;
              transition: all 0.3s ease-in;
              overflow-y: hidden;
              top: 10px;
              left: 0;
              z-index: 1;
              padding: 0;
              margin-top: 5%;
            }
            .main-nav > .nav1 > ul > li {
              text-align: center;
              display: block;
              width: 100%;
              padding: 10px 0;
            }
            .main-nav > #nav-check:not(:checked) ~ .nav1 ul {
              height: 50vh;
  
            }
  
            .main-nav > #nav-check:checked ~ .nav1 ul {
  
            height:40%;
            width:100%;
            overflow-y: auto;
            padding: 0;
          }
  
            .nav1 ul li a{
              font-size: 20px;
            }
  
            .main-nav{
              margin: 2%;
            }

          }

    
    /* hero-section */

        .hero{
            font-size: 2rem;
            width: 100%;
            margin: 0%;
            color: black;
            height: 100vh;
            top: 0;
            background-image: url(Images/herobg.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .hero-main{
            width: 41%;
            padding: 7% 12%;
        }

        .h-title{
            margin-bottom: -5%;
            display: flex;
            align-items: center;
        }

        .h-title span{
            padding-right: 3%;
        }

         span{
            color: #114486;
        }

        button {
            background-image: linear-gradient(to right, #4b6cb7 0% , #114486  100%);
            color: white;
            border: none;
            font-size: 1.3rem;
            margin-top: 8%;
            padding: 3% 10%;
            border-radius: 45px;
            cursor: pointer;
            
          }
          
          button:hover {
            background-image: linear-gradient(to left, #4b6cb7 0% , #114486  100%);
            color: #fff;
            transition: 0.5s;
          }

          @media (max-width:767px) {
            .hero{
              background-image: none;
              background-size: cover;
              font-size: 20px;
              width: 100%;
              height: auto;
            }
            .hero-main{
              width: 100%;
              padding: 0%;
              text-align: center;
            }

            button{
              margin-top: 2%;
            }
          }


          /* Practice-Yoga */
          .prac-main{
            height: 100%;
            margin: 10%;
            text-align: center;
          }

          .prac-content1{
            padding: 0% 15% 5%;
          }

          .prac-content2{
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
          }

          .prac-content2 div{
              background-color: #f7f7f7;
              border-radius: 45px;
              padding: 4% 3%; 
              margin: 1%;
          }

          @media (max-width:767px){
            .prac-main{
              margin: 0%;
              margin-top: 20%;
              padding: 5%;
              font-size: 20px;
            }

            .prac-content1{
              padding: 0%;
            }

            .prac-content2{
              display: block;
            }
            .prac-content2 div{
              margin-top: 5%;
            }
          }



          /* About-Section */
          
          .about{
              padding: 5%;
          }

          .about-main{
            display: flex;
            align-items: center;
          }

          .about-main1{
            margin: 0 5%;
          }

          .about-main2{
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
          }
          .about-main2 div{
            width: 30%;
          }

          .about-main2 h1 {
            color: #114486;
          }

          @media (max-width:767px) {
            .about-main{
              margin-top: 20%;
              text-align: center;
              display : block;
            }

            .about-main1{
              
              margin: 0%;
            }

            .about-img{
              width: 50%;
            }
          }

         
          /* Teachers-Section */

         .teachers{
            height: 100%;
            margin: 10%;
            text-align: center;
          }

          .teachers-intro{
            padding: 0% 15% 5%;
          }

          .intro-main{
            width: 100%;
            display: flex;
            justify-content: space-around;
          }

          .intro-main > div{
            width: 100%;
            padding: 4% 2%; 
          }

          .intro-main > div > img{
            width: 100%;
          }

          @media (max-width:767px) {
            .teachers-intro{
              padding: 0;
            }

            .intro-main{
              display: block;
            }

            .intro-main > div > img{
              width: 50%;
            }
            
          }


          /* Gallery Section */

          .gal{
            margin: 10% 10%;
            text-align: center;
          }

          .gal-img-r1{
            width: 100%;
            display: flex;
            justify-content: center;
          }

          .gal-img > div > span {
            padding: 10px 15px;

          }
          

          .img-s{
            height: 380px;
            width: 280px;
            object-fit: cover;
            border-radius: 40px;
            margin: 0% 1%;
          }

          .img-l{
            height: 380px;
            width: 570px;
            object-fit: cover;
            border-radius: 40px;
            
          }

          @media (max-width:767px) {
            .gal-img-r1{
              width: 100%;
              display: block;
            }

            .img-s{
              width: 100%;
              height: auto;
              margin: 0;
            }

            .img-l{
              height: auto;
              width: 100%;
              object-fit: cover;
              border-radius: 40px;
            }

            .gal-img > div > span {
              padding: 0;
            }
          }

          
          /* Signup-Section */

          .signup{
            padding: 10%;
          }

          .signup-main {
            color: white;
            background-color: #ffffff0e;
            border-radius: 30px;
            width: 35%;
            padding: 6%;
          }

          .signup-main > p{
            color: #fff;
          }

          input{
            padding: 12px;
            width: 100%;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid #fff;
            background: transparent;
            color: white;
          }

          input:focus-visible {
            outline: none;
        }

        .check-box{
          font-size: small;;
          display: flex;
          
        }

        .check-box > input{
          width: auto;
          margin-right: 10px;
        }

        @media (max-width:767px) {
          .signup-main {
            width: 100%;
            padding: 0;
          }

          input{
            padding-bottom: 15px;
          }
        }
        
          /* Footer Section */
          footer {
            
            padding: 10% 10% 2%;
          }

          .footer-main > div > h4{
            color: #114486;
          }

          .footer-main p{
            color: #fff;
          }

          .footer-main {
            display: flex;
            
          }

          .footer-main > div{
            padding: 4%;
          }

          .footer-bot{
            padding-top: 25px;
            display: flex;
            justify-content: space-between;
            border-top: darkgray;
            border-width: 2px;
            border-style: solid;
          }

          .footer-bot > p{
            color: darkgrey;
            font-size: medium;
          }
          

          @media (max-width:767px) {
            footer{
              background-color: #03020a;

            }

            .footer-main{
              display : block;
              flex-wrap: wrap;
            }

            .footer-main > div{
              width: 100%;
              padding-bottom: 5%;
            }

            
          }

          .backdrop{
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: -1;
          }

          @media (max-width:767px) {
            .backdrop {
              bottom: 1310px;
            }

          }

